<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
  <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous"
  >
</head>
<body>
	<div class="container">
		<h1>Add</h1>
		<form action="/add" method="POST">
			<div class="form-group">
				<label for="title">Task</label>
				<input 
					type="text" 
					class="form-control" 
					id="title" 
					name="title"
					placeholder="type the title..."
				/>
			</div>
			<div class="form-group">
				<label for="country">Priority</label>
				<select id="country" class="form-control" name="country">
					<option selected>Select Priority...</option>
					<option value="Low">Low</option>
					<option value="Medium">Medium</option>
					<option value="High">High</option>
				</select>
			</div>
			<button type="submit" class="btn btn-info">Save</button>
		</form >
	</div>
</body>
</html>